$navbar-min-height: 90px;
$navbar-logo-max-height: 40px;
$navbar-font-size: 0.9rem;
$navbar-background-color: $white;
$navbar-text-color: $redexa;
$navbar-text-color-hover: $redexa-dark;
$navbar-text-color-dark: $beluga-dark-4x;
$navbar-text-color-dark-hover: $beluga-dark-5x;

$navbar-fixed-top-background-color: transparent;
$navbar-fixed-text-color: $white;
$navbar-fixed-text-color-hover: $redexa;

$navbar-sticky-background-color : $white;
$navbar-sticky-text-color: $redexa;
$navbar-sticky-text-color-hover: $redexa-dark;

$navbar-side-width: 250px;
$navbar-side-background-color: $white;
$navbar-side-text-color: $redexa;
$navbar-side-text-color-hover: $redexa-dark;
$navbar-side-border-color: $border-color;
